<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Princeton Cards></h1>
    <p>
      You have received a greeting card from <%= @card.from %> <br/>
    </p>
    <p>
      To view your card, just follow this link: <%= @url %>.
    </p>
    <p>Enjoy your greeting card and have a great day!</p>
  </body>
</html>