<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Greetings from Princeton eCards</h1>
    <p>
      Congratulations! You have been sent a greeting card. <br/>
    </p>
    <p>
      To view your card, just follow this link: <%= @url %>.
    </p>
    <p>Best Wishes and have a great day!</p>
  </body>
</html>