<!DOCTYPE html>
<html>
<head>
	<title> About Us </title>
</head>
<body>
	We are Princeton students trying to provide a way for our peers to send greeting cards quickly and easily to friends and family that have a Princeton theme. 
	
</body>

</html>

